.vuelor-picker-root {
  --vuelor-elevation-card: 0 2px 5px 0 #00000026, 0 10px 16px 0 #0000001f, 0 0 .5px 0 #0000001f;
  --vuelor-elevation-thumb: 0px 0px .5px rgba(0, 0, 0, .18), 0px 3px 8px rgba(0, 0, 0, .1), 0px 1px 3px rgba(0, 0, 0, .1);
  --vuelor-primary-color: #0d99ff;
  --vuelor-surface-color: #ffffff;

  width: 15rem;
  border-radius: 13px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: var(--shadow-vuelor-card);
  background-color: var(--vuelor-surface-color);
}

.vuelor-picker-eye-dropper {
  padding: 0.25rem;
  border-radius: 5px;
}

.vuelor-picker-eye-dropper:hover {
  background-color: #0000000d;
}

.vuelor-picker-eye-dropper:focus-within {
  outline-width: 1px;
  outline-color: var(--vuelor-primary-color);
}

.vuelor-picker-shared-thumb {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 9999px;
  border-width: 4px;
  border-color: var(--vuelor-surface-color);
  box-shadow: var(--shadow-vuelor-thumb);
}

.vuelor-picker-shared-thumb:focus {
  outline-width: 1px;
  outline-color: var(--vuelor-primary-color);
}

.vuelor-picker-canvas-root {
  position: relative;
  touch-action: none;
}

.vuelor-picker-canvas-root[data-disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.vuelor-picker-canvas-area {
  border-radius: 5px;
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -1px;
  outline-color: #0000001a;
}

.vuelor-picker-slider-root {
  position: relative;
  height: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
}

.vuelor-picker-slider-root[data-orientation="vertical"] {
  height: auto;
  width: 1rem;
  flex-direction: column;
}

.vuelor-picker-slider-root[data-disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.vuelor-picker-slider-track {
  position: relative;
  height: 1rem;
  width: 100%;
  flex-grow: 1;
  border-radius: 9999px;
  box-shadow: inset 0 0 0 1px #0000001a;
}

.vuelor-picker-slider-track[data-orientation="vertical"] {
  height: 100%;
  width: 1rem;
}

.vuelor-picker-input-group {
  width: 100%;
  display: flex;
  gap: 1px;
  border-radius: 5px;
  outline-color: #e6e6e6;
}

.vuelor-picker-input-group:hover {
  outline-width: 1px;
}

.vuelor-picker-input-group:focus-within {
  outline-width: 1px;
  outline-color: var(--vuelor-primary-color);
}

.vuelor-picker-input-group[data-disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.vuelor-picker-input-field {
  width: 100%;
  height: 1.5rem;
  min-width: 1.25rem;
  font-size: 11px;
}

.vuelor-picker-input-field:focus {
  outline: none;
}

.vuelor-picker-input-item {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  gap: 0.25rem;
  background-color: #f5f5f5;
}

.vuelor-picker-input-item[data-alpha-input] {
  flex-grow: 0;
}

.vuelor-picker-input-item:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.vuelor-picker-input-item:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.vuelor-picker-input-label {
  user-select: none;
  color: #000;
  font-size: 11px;
  opacity: 0.4;
}
