@tailwind base;
@tailwind components;
@tailwind utilities;

.vuelor button,
.vuelor input {
  color: #000;
}

.vuelor button {
  border-style: solid;
}

.vuelor * {
  outline-width: 0;
  outline-style: solid;
}

.vuelor canvas,
.vuelor span:focus,
.vuelor button:focus {
  outline-width: 1px;
  outline-style: solid;
}

.image-bg {
  transform: translate(-50%, -50%) scale(1.4) !important;
  background: var(--vuelor-selected-value, #B63DDAFF) !important;
  z-index: -1;
}

@media screen and (max-width: 959px) {
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    margin: 0 0 70px 0 !important;
  }
}
