@tailwind base;
@tailwind components;
@tailwind utilities;

[data-vuelor-docs] button,
[data-vuelor-docs] input,
[data-reka-popper-content-wrapper] button,
[data-reka-popper-content-wrapper] input {
  color: #000;
}

[data-vuelor-docs] button,
[data-reka-popper-content-wrapper] button {
  border-style: solid;
}

[data-vuelor-docs] *,
[data-reka-popper-content-wrapper] * {
  outline-width: 0;
  outline-style: solid;
}

[data-vuelor-docs] canvas,
[data-vuelor-docs] span:focus,
[data-vuelor-docs] button:focus,
[data-reka-popper-content-wrapper] canvas,
[data-reka-popper-content-wrapper] span:focus,
[data-reka-popper-content-wrapper] button:focus {
  outline-width: 1px;
  outline-style: solid;
}

.image-bg {
  transform: translate(-50%, -50%) scale(1.4) !important;
  background: var(--vuelor-selected-value, #B63DDAFF) !important;
  z-index: -1;
}

@media screen and (max-width: 959px) {
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    margin: 0 0 70px 0 !important;
  }
}
