@import "tailwindcss";

:root {
  --elevation-card:
    0 2px 5px 0 #00000026,
    0 10px 16px 0 #0000001f,
    0 0 .5px 0 #0000001f;
  --elevation-thumb:
    0px 0px .5px rgba(0, 0, 0, .18),
    0px 3px 8px rgba(0, 0, 0, .1),
    0px 1px 3px rgba(0, 0, 0, .1);
}
